*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
WebHybridLib/libs/
app/libs/
appkey.text
suspension/libs/
suspension/src/main/res/drawable/
